## Book Recommendation System using Surprise

#### Data Set: Book-Crossing Dataset   http://www2.informatik.uni-freiburg.de/~cziegler/BX/

### import libraries

In [22]:
import pandas as pd
import numpy as np
from surprise import KNNBasic,SVD, evaluate, print_perf, Reader, Dataset
from surprise.model_selection import cross_validate

### read data

In [12]:
df=pd.read_csv("BX-Book-Ratings.csv",error_bad_lines=False,encoding = 'latin1')

In [13]:
df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [16]:
reader = Reader(rating_scale=(0, 10))

In [17]:
dataset = Dataset.load_from_df(df[['User-ID', 'ISBN', 'Book-Rating']], reader)

In [18]:
dataset

### SVD

In [23]:
model = SVD()
cross_validate(model, dataset, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    3.4977  3.5001  3.4961  3.4980  0.0016
MAE (testset)     2.8238  2.8294  2.8249  2.8260  0.0024
Fit time          54.39   52.73   52.71   53.28   0.79
Test time         3.79    3.88    3.92    3.86    0.05

{'fit_time': (54.38987898826599, 52.727116107940674, 52.70830988883972),
 'test_mae': array([ 2.8237525 ,  2.82942605,  2.82492957]),
 'test_rmse': array([ 3.49773365,  3.50009509,  3.49610889]),
 'test_time': (3.7898266315460205, 3.8831989765167236, 3.9193880558013916)}

### recommendation for user 276822

In [31]:
rate10 = df[(df['User-ID'] == 276822) & (df['Book-Rating'] == 10)].set_index('ISBN')

In [33]:
train = dataset.build_full_trainset()
model.fit(train)
rate10 = rate10.reset_index()
rate10['est'] = rate10['ISBN'].apply(lambda x: model.predict(id, x).est)
rate10 = rate10.sort_values('est', ascending=False)
print(rate10.head(10))

         ISBN  User-ID  Book-Rating       est
0  0060096195   276822           10  4.683247
2  038076041X   276822           10  4.234235
6  1573248533   276822           10  3.845777
4  0786817070   276822           10  3.817162
1  0142302198   276822           10  3.697928
5  0805057706   276822           10  3.680444
3  0699854289   276822           10  3.254082